In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series(np.random.randn(5))

print(s)

0   -1.765274
1   -1.133777
2    1.470479
3   -0.006274
4   -0.052939
dtype: float64

In [3]:
print(s.axes)

[RangeIndex(start=0, stop=5, step=1)]

In [4]:
print(s.empty)

False

In [5]:
print(s.ndim)

1

In [6]:
print(s.size)

5

In [7]:
print(s.values)

[-1.76527425 -1.13377728  1.47047912 -0.00627383 -0.05293937]

In [12]:
print(s.head(2))
print(s[2].dtype)
print(s.tail(2))

0   -1.765274
1   -1.133777
dtype: float64
float64
3   -0.006274
4   -0.052939
dtype: float64

# Transpose

In [15]:
d ={'Name':pd.Series(['Alan','Noah','James','May','Gibson','Frederic','Luna']),
    'Age':pd.Series([12,13,11,12,12,13,11]),
    'Grade':pd.Series([7.78,6.88,8.56,7.14,9.2,8.43,7.3])
}

df = pd.DataFrame(d)

print(df)

       Name  Age  Grade
0      Alan   12   7.78
1      Noah   13   6.88
2     James   11   8.56
3       May   12   7.14
4    Gibson   12   9.20
5  Frederic   13   8.43
6      Luna   11   7.30

In [16]:
print(df.T)

          0     1      2     3       4         5     6
Name   Alan  Noah  James   May  Gibson  Frederic  Luna
Age      12    13     11    12      12        13    11
Grade  7.78  6.88   8.56  7.14     9.2      8.43   7.3

# Axes

In [18]:
print(df.axes)

[RangeIndex(start=0, stop=7, step=1), Index(['Name', 'Age', 'Grade'], dtype='object')]

# dtype

In [22]:
print(df.dtypes)

Name      object
Age        int64
Grade    float64
dtype: object

In [23]:
print(df.ndim)

2

In [24]:
print(df.shape)

(7, 3)

In [25]:
print(df.size)

21

In [26]:
print(df.values)

[['Alan' 12 7.78]
 ['Noah' 13 6.88]
 ['James' 11 8.56]
 ['May' 12 7.14]
 ['Gibson' 12 9.2]
 ['Frederic' 13 8.43]
 ['Luna' 11 7.3]]