In [1]:
import numpy as np
import pandas as pd

# pandas.Series( data, index, dtype, copy)

In [3]:
s = pd.Series()
print(s)

Series([], dtype: float64)

In [4]:
df = np.array(['a','c','e','g','i'])
a = pd.Series(df)

print(a)

0    a
1    c
2    e
3    g
4    i
dtype: object

In [5]:
b = pd.Series(df, index=[10,20,30,40,50])

print(b)

10    a
20    c
30    e
40    g
50    i
dtype: object

# dict

In [8]:
data = {'a':10,'b':12,'c':34}
c = pd.Series(data)

print (c)

a    10
b    12
c    34
dtype: int64

In [10]:
d = pd.Series(data, index=['b','c','d','a'])

print(d)

b    12.0
c    34.0
d     NaN
a    10.0
dtype: float64

# scalar

In [12]:
e = pd.Series(5, index=[1,23,45,15])

print(e)

1     5
23    5
45    5
15    5
dtype: int64

In [35]:
x = pd.Series(['CN','IN','US','ID'],index=[1,2,3,4])

print(x[1])

print(x[3])

print(x[:3])

print(x[-3:])

CN
US
1    CN
2    IN
3    US
dtype: object
2    IN
3    US
4    ID
dtype: object

# pandas.DataFrame(data, index, columns, dtype,copy)

In [37]:
y = [1,2,3,4,5]

df = pd.DataFrame(y)

print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [40]:
z =['a','g','m','j','e']

df = pd.DataFrame(y, index=z)

print(df)

   0
a  1
g  2
m  3
j  4
e  5

In [46]:
ax = [['Jinn',10],['Hansen',12],['Clarie',9],['Nath',10]]

df = pd.DataFrame(ax,columns=['Name','Age'])

print(df)

     Name  Age
0    Jinn   10
1  Hansen   12
2  Clarie    9
3    Nath   10

In [48]:
df = pd.DataFrame(ax,columns=['Name','Age'],dtype=float)

print(df)

     Name   Age
0    Jinn  10.0
1  Hansen  12.0
2  Clarie   9.0
3    Nath  10.0

In [54]:
dicts = {'Name':['Alice Cambell','Marien Tanoejaja P','Louis Hansel Jr.','Jack O Brian','Stuart Bloodstuf'],
    'Nationality':['FR','ID','GB','US','CD']
}

df = pd.DataFrame(dicts)

print(df)

                 Name Nationality
0       Alice Cambell          FR
1  Marien Tanoejaja P          ID
2    Louis Hansel Jr.          GB
3        Jack O Brian          US
4    Stuart Bloodstuf          CD

In [55]:
df = pd.DataFrame(dicts, index=['Google','Microsoft','Facebook','Amazon','Tesla'])

print(df)

                         Name Nationality
Google          Alice Cambell          FR
Microsoft  Marien Tanoejaja P          ID
Facebook     Louis Hansel Jr.          GB
Amazon           Jack O Brian          US
Tesla        Stuart Bloodstuf          CD

In [56]:
bx = [{'a':23,'c':45},{'a':34,'b':38,'c':79}]

df = pd.DataFrame(bx)

print(df)

    a     b   c
0  23   NaN  45
1  34  38.0  79

In [73]:
cx = {'one': pd.Series([1,31,17],index=['a','b','c'],dtype=float),
    'two' : pd.Series([22,42,12],index=['a','b','c']),
    'three': pd.Series([13,93,36,83],index=['a','b','c','d'],dtype=float)
}

dfx = pd.DataFrame(cx)

print(df)

    one   two  three
a   1.0  22.0   13.0
b  31.0  42.0   93.0
c  17.0  12.0   36.0
d   NaN   NaN   83.0

In [74]:
print(dfx['one'])

a     1.0
b    31.0
c    17.0
d     NaN
Name: one, dtype: float64

In [71]:
cx = {'one': pd.Series([1,31,17],index=['a','b','c'],dtype=float),
    'two' : pd.Series([22,42,12],index=['a','b','c']),
    'three': pd.Series([13,93,36,83],index=['a','b','c','d'],dtype=float)
}

print(cx)

{'one': a     1.0
b    31.0
c    17.0
dtype: float64, 'two': a    22
b    42
c    12
dtype: int64, 'three': a    13.0
b    93.0
c    36.0
d    83.0
dtype: float64}

In [76]:
dfx['four'] = pd.Series([24,40,54,47],index=['a','b','c','d'],dtype=float)

print(dfx)

    one   two  three  four
a   1.0  22.0   13.0  24.0
b  31.0  42.0   93.0  40.0
c  17.0  12.0   36.0  54.0
d   NaN   NaN   83.0  47.0

In [77]:
dfx['mix'] = dfx['one'] + dfx['three']

print(dfx)

    one   two  three  four    mix
a   1.0  22.0   13.0  24.0   14.0
b  31.0  42.0   93.0  40.0  124.0
c  17.0  12.0   36.0  54.0   53.0
d   NaN   NaN   83.0  47.0    NaN

In [78]:
del dfx['mix']
print(dfx)

dfx.pop('four')
print(dfx)

    one   two  three  four
a   1.0  22.0   13.0  24.0
b  31.0  42.0   93.0  40.0
c  17.0  12.0   36.0  54.0
d   NaN   NaN   83.0  47.0
    one   two  three
a   1.0  22.0   13.0
b  31.0  42.0   93.0
c  17.0  12.0   36.0
d   NaN   NaN   83.0

In [79]:
print(dfx)

    one   two  three
a   1.0  22.0   13.0
b  31.0  42.0   93.0
c  17.0  12.0   36.0
d   NaN   NaN   83.0

In [81]:
print(dfx.loc['c'])

one      17.0
two      12.0
three    36.0
Name: c, dtype: float64

In [82]:
print(dfx.iloc[2])

one      17.0
two      12.0
three    36.0
Name: c, dtype: float64

In [83]:
print(dfx[:2])

    one   two  three
a   1.0  22.0   13.0
b  31.0  42.0   93.0

In [86]:
d1 = pd.DataFrame([[1,2],[5,6]],index=['a','b'],columns=['X','Y'])
d2 = pd.DataFrame([[3,4],[7,8]],index=['a','b'],columns=['X','Y'])

df = d1.append(d2)

print(df)

   X  Y
a  1  2
b  5  6
a  3  4
b  7  8

In [87]:
df = df.drop('a')

print(df)

   X  Y
b  5  6
b  7  8